* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    background: linear-gradient(#200016,#10001f);
    height: 130vh;
    font-family: system-ui;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    position: fixed;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
header h2 {
    color: #fff;
    text-transform: uppercase;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    margin-right: 30px;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s linear;
    
}
a:hover , li:nth-child(1) > a {
    background-color: #fff;
    color: #10001f;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #200016 , transparent);
}
.main img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.nouvil {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateY(-160px);
}
.content {
    color: #fff;
    padding: 30px;
    overflow: hidden;
}
.content h2 {
    margin: 20px;
    font-size: 30px;
}
.content p {
    margin: 20px;
}
